@import '../../variable.scss';

.outer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form {
    width: 50%;
    height: 600px;
    background-color: $primary-color;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 32.9px rgba(0, 0, 0, 0.098),
    0px 0px 46.9px rgba(0, 0, 0, 0.094),
    0px 0px 51.5px rgba(0, 0, 0, 0.084),
    0px 0px 80px rgba(0, 0, 0, 0.07);
    flex-direction: column;

    &__inputs {
        display: flex;
        flex-flow: column wrap;
        height: 100px;
        width: 90%;
        gap: 10%;
        row-gap: 10px;

        &__input {
            height: 40px;
            width: 40%;
            border-radius: 15px;
            font-size: 15px;
            font-family: 'Open Sans';
            font-weight: 500;

            &:focus {
                outline: none;
                border: 3px solid $secondary-color;
            }
        }

        &__label {
            font-size: 20px;
            font-family: 'Montserrat';
            font-weight: 500;

            @include mediamaxwidth(1280px) {
                font-size: 17px;
            }
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 90%;

        &__textarea {
            width: 80%;
            height: 250px;
            border-radius: 20px;
            padding: 5px;
            font-size: 15px;
            font-family: 'Open Sans';
            font-weight: 500;

            &:focus {
                outline: none;
                border: 3px solid $secondary-color;
            }
        }

        &__label {
            font-size: 20px;
            font-family: 'Montserrat';
            font-weight: 500;
        }
    }

    &__btn {
        background-color: white;
        border-color: $secondary-color;
        width: 200px;
        height: 40px;
        border-radius: 10px;
        font-size: 15px;
        font-family: 'Montserrat';
        font-weight: 500;
        cursor: pointer;
    }
}

.sucsess {
    font: 500 24px 'Open Sans';
    color: white;
    margin: 0;
}