@import '../../variable.scss';

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#about {
    width: 99%;
    border-radius: 10px;
    height: 750px;

    @include mediamaxwidth(1280px) {
        height: 650px;        
    }
    @include mediamaxwidth(1024px) {
        height: fit-content;
    }
}